
<h1 class="text center mb-3">{{title}}</h1>



<form action="/api/updatecustomer" method="POST" class="mb-4">
<div class="form-group">
    <label for="first_name">Enter customer first name</label>
    <input type="text" name="first_name" placeholder = "{{row.first_name}}" class="form-control">
    <label for="last_name">Enter customer last name</label>
    <input type="text" name="last_name" placeholder = "{{row.last_name}}" class="form-control">
    <label for="email">Enter customer email</label>
    <input type="email" name="email" placeholder = "{{row.email}}" class="form-control">
    <label for="phone">Enter customer phone</label>
    <input type="text" name="phone" placeholder = "{{row.phone}}" class="form-control">
    <label for="permitted">Enter customer permission status</label>
    <input type="text" name="permitted" placeholder = "{{row.permitted}}" class="form-control">
    
    
    </div>
<input type="submit" value="Add Customer" class="btn-primary btn-block">
</form>

