
<h1 class="text center mb-3">{{message}}</h1>

<form action={{nextaction}} method="POST" class="mb-4">
<div class="form-group">



  
    <input type="radio" id="filename"  name="filename" value="{{filename}}">

      <label for="filename">"{{filename}}"</label><br>
    
    
    
    </div>

<input type="submit" value="{{nextactiontext}}" class="btn-primary btn-block">
</form> 
 
